/*div {
	border: 1px solid black;
}*/
body {
	background-color:  !important;
}

.row {
	padding-left: 20px;
}


.box1 {
	font-size: 22px;
	font-family: Andale Mono,AndaleMono,monospace; 
	padding-top: 25px;
	padding-bottom: 10px;
	text-align: center;
}


.box3 {
	font-size: 22px;
	font-family: Andale Mono,AndaleMono,monospace; 
	padding-top: 100px;
	padding-bottom: 10px;
}




a{
	text-decoration:none !important;
	color: black !important;
}	
		
a:hover{
	background-color: #FAC838/*#FBD204*/;
	color: white !important;
	text-decoration: none !important;
	padding: 5px;
		}

.name {
	font-size: 30px;
	display: inline-block;
}


@media (max-width: 960px){

body {
	background-color: rgb(254, 207, 212)  !important;
}


.box1 {
	font-size: 22px;
	font-family: Andale Mono,AndaleMono,monospace; 
}

.box3 {
	font-size: 18px;
	font-family: Andale Mono,AndaleMono,monospace; 
	padding-top: 10px;

}

.name {
	font-size: 40px;
	display: inline-block;
}
a{
	text-decoration:none !important;
	color: white;
}	
		
a:hover{
	background-color: black;
	font-color: white;
	text-decoration: none !important;
	padding: 5px;
		}
}